:root {
  --color-white: #ffffff;
  --color-primary: #0f0f0f;
  --color-offwhite: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: rgb(250, 250, 250);
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.flex {
  display: flex;
}